/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Yohoho implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * yohoho.css
 *
 * Yohoho stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (yohoho_yohoho.tpl), and to HTML elements you create dynamically
    (in yohoho.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#board {
   width: 728px;
   height: 641px;
   background-image: url('img/yohoho_board.jpg');
   position: relative;
}

.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px; 
	position: absolute;
	background-color: red;
}

.bc {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('img/Chebec_N_03.png');
}

.bg {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('img/Galion_N_03.png');
}

.ba {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('img/Amiral_N_03.png');
}

.br {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('img/Rocher_N_03.png');
}

.wc {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('img/Chebec_B_03.png');
}

.wg {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('img/Galion_B_03.png');
}

.wa {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('img/Amiral_B_03.png');
}

.wr {
    width: 60px;
    height: 60px;
    position: absolute;
    background-image: url('img/Rocher_B_03_03.png');
}